#!/bin/sh

# sourced at boot by ~/.xinitrc and most display managers


# xdg standard configuration location (needed by some applications)
export XDG_CONFIG_HOME="$HOME/.config"

# add ~/.local/bin to the PATH (application executables)
export PATH="$HOME/.local/bin:$PATH"

# start the compositor (transparency, fade, shadows, blur, etc.)
picom -b &

# start the network tray application
nm-applet &

# start the volume tray application
volumeicon &

# restore the last wallpaper applied with nitrogen
#nitrogen --restore &
wal -R &


# start xfce power manager
xfce4-power-manager &

# start the gnome polkit agent
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# set super key alone to emulate alt+F1
#ksuperkey -e 'Super_L=Alt_L|F1' &
#ksuperkey -e 'Super_R=Alt_L|F1' &

# set display timeout, sleep, and power off times
xset dpms 600 900 1200

# set keyboard repeat rate
xset r rate 350 60

# left hand mouse
#xmodmap -e "pointer = 3 2 1"

